@import com.algorabedu.landing.Translation

@(translation: Translation)

<head lang="@{translation.language}">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/public/output.css" />
  <script src="/public/js/index.js"></script>
  <title>@{translation("index.title")}</title>
</head>

<body>
  <nav class="bg-slate-50 w-full fixed top-0 shadow-md">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex flex-1 items-center justify-start sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <label class="text-3xl font-semibold text-indigo-700">Algorab</label>
          </div>
        </div>
        <div class="flex flex-1 items-center justify-end sm:items-stretch sm:justify-end">
          <div class="hidden sm:ml-6 sm:block justify-self-end">
            <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      </div>
    </div>
  </nav>
  <div class="flex flex-grow flex-col min-w-screen">
    <div id="full" class="flex flex-row items-center w-full h-screen px-32 pb-8 pt-24 gap-10">
      <div class="flex flex-col justify-center h-full basis-1/2 gap-10">
        <label class="text-center text-8xl font-bold text-indigo-700">Algorab</label>
        <label class="text-center text-3xl font-medium text-indigo-700">@{translation("index.slogan")}</label>
        <div class="flex flex-col mt-10 w-full items-center justify-center">
            <form id="subscription_form" class="flex flex-row w-full justify-center">
              <input type="hidden" name="lang" value="@(translation.language)">
              <input type="email" name="email" placeholder="@translation("index.email")" class="text-xl rounded-t-md border-b-indigo-700 border-b-2 px-3 py-2">
              <input type="button" onclick="subscribe()" value="@{translation("index.subscribe")}" class="text-xl rounded-md bg-indigo-700 px-3 py-2 text-white">
            </form>
          <p id="subscription_result"></p>
        </div>
      </div>
      <div class="flex flex-col justify-center h-full basis-1/2 min-w-0">
        <code class="bg-indigo-950 text-white p-4 rounded-lg whitespace-pre min-w-0 overflow-x-scroll">enum Tree[cov Element]:
  case Leaf(value: Element)
  case Node(value: Element, children: NonEmptyList[Tree[Element]])

-- Root is min
def minMax[Element](tree: Element): Tree[Element] = tree match
  case Leaf(value)       => value
  case Node(_, children) => children.map(maxMin).minimum

-- Root is max
def maxMin[Element](tree: Element): Tree[Element] = tree match
  case Leaf(value)       => value
  case Node(_, children) => children.map(minMax).maximum</code>
      </div>
    </div>
    <div class="flex flex-col w-full">
      <section class="flex flex-row flex-grow min-w-full px-52 py-10 justify-center bg-indigo-700">
        <p class="text-xl text-white text-justify">@{translation("index.description")}</p>
      </section>
      <section class="flex flex-col min-w-full px-52 py-40 gap-40">
        <div class="flex flex-row flex-grow min-w-full justify-around gap-16">
          <div class="flex flex-grow flex-col gap-5 basis-1/2 justify-center">
            <h1 class="text-4xl">@{translation("index.quickstart.title")}</h1>
            <p class="text-xl text-justify">@{translation("index.quickstart.text")}</p>
          </div>
          <div class="flex flex-grow flex-col basis-1/2 gap-3">
            <code class="flex-grow bg-indigo-950 text-white p-4 rounded-lg">
              println("Hello World !")<br>
              <br>
              val name = ask("What's your name ?")<br>
              println("Hello $name !")<br>
            </code>
            <code class="flex-grow bg-indigo-950 text-white p-4 rounded-lg">
              Hello World !<br>
              What's your name ?<br>
              &gt; John<br>
              Hello John !<br>
            </code>
          </div>
        </div>
        <div class="flex flex-row-reverse flex-grow min-w-full justify-around gap-16">
          <div class="flex flex-grow flex-col gap-5 basis-1/2 justify-center">
            <h1 class="text-4xl">@{translation("index.expressivity.title")}</h1>
            <p class="text-xl text-justify">@{translation("index.expressivity.text")}</p>
          </div>
          <div class="flex flex-col basis-1/2 gap-3 min-w-0">
            <code class="bg-indigo-950 text-white p-4 rounded-lg whitespace-pre overflow-x-scroll">enum LinkedList[Element]:
  case Nil
  case Append(head: Element, tail: LinkedList[Element])

  def append(element: Element): LinkedList[Element] = this match
    case Nil                then Append(head, Nil)
    case Append(head, tail) then Append(head, tail.append(element))</code>
          </div>
        </div>
        <div class="flex flex-row flex-grow min-w-full justify-around gap-16">
          <div class="flex flex-grow flex-col gap-5 basis-1/2 justify-center">
            <h1 class="text-4xl">@{translation("index.assistance.title")}</h1>
            <p class="text-xl text-justify">@{translation("index.assistance.text")}</p>
          </div>
          <div class="flex flex-grow flex-col basis-1/2 gap-3">
            <code class="flex-grow bg-indigo-950 text-white p-4 rounded-lg">
              record User(name: String, age: Int)<br>
              <br>
              val user = User("John", 20)<br>
              println("Hello $(user.username) !")
            </code>
            <code class="flex-grow bg-indigo-950 text-white p-4 rounded-lg whitespace-pre">Error: Unknown record field.
              
  At ./myscript.algo, line 4, character 22
  println("Hello $(user.username) !")
                   ^^^^^^^^^^^^^
  Hint: user is of type User.
        Did you mean user.name ?</code>
          </div>
        </div>
        <div class="flex flex-row-reverse min-w-full justify-around gap-16">
          <div class="flex flex-grow flex-col gap-5 basis-1/2 justify-center">
            <h1 class="text-4xl">@{translation("index.professionalisation.title")}</h1>
            <p class="text-xl text-justify">@{translation("index.professionalisation.text")}</p>
          </div>
          <div class="flex flex-col basis-1/2 gap-3 min-w-0">
            <code class="bg-indigo-950 text-white p-4 rounded-lg whitespace-pre overflow-x-scroll">---
Create a new user.
- param name the user's name. Should not be empty.
- param age the user's age. Should be positive.
- return a new User with the given fields.
---
def createUser(name: String, age: Int): Either[UserError, User] =
  if name.isBlank  then Left(UserError.BlankName)
  else if age &lt;= 0 then Left(UserError.NegativeAge)
  else User(name, age)

test createUser with
  assert(createUser("", 23) == Left(UserError.BlankName))
  assert(createUser("Sofia", -5) == Left(UserError.NegativeAge))</code>
          </div>
        </div>
      </section>
      <section class="flex flex-col flex-grow min-w-full px-52 py-10 justify-center bg-indigo-700 gap-5">
        <h1 class="text-4xl text-white text-center">@{translation("index.opensource.title")}</h1>
        <p class="text-xl text-white text-justify">@{translation("index.opensource.text")}</p>
      </section>
      <footer class="flex flex-row flex-grow min-w-full px-52 py-10 justify-center">
        <p class="text-sm text-center">@{translation("index.copyright")}</p>
      </section>
    </div>
  </div>
</body>